/CommentController.class
/FriendController.class
/HomeController.class
/LikeController.class
/LoginController.class
/NotificationController.class
/PostController.class
/ProfileController.class
/RegisterController.class
/SearchController.class
